[submodule "config-server"]
	path = config-server
	url = https://github.com/ITS-2130-ECA-HDSE-71-72/Capstone-Project-Platform-Config-Server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/sakunifernando003/Capstone-Project-Platform-Api-Gateway.git
[submodule "service-registry"]
	path = service-registry
	url = https://github.com/sakunifernando003/Capstone-Project-Platform-Service-Registry.git
